html {
    scroll-behavior: smooth;
}

@utility container {
    margin-inline: auto;
    max-width: 1300px;
    @apply px-[1rem] md:px-[2rem] lg:px-[3rem] xl:px-[4rem] 2xl:px-[6rem];
}
@utility container-small {
    @apply w-2xl mx-auto;
}

@utility vstack {
    display: flex;
    flex-direction: column;
    @apply gap-4;
}
@utility hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    @apply gap-4;
}

@utility grid {
    @apply gap-8;
}

@utility center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@utility card {
    @apply bg-base-100 shadow;
}
@utility card-body {
    @apply gap-4;
}
.card-body p {
    flex-grow: 0;
}

@utility dropdown-content {
    @apply menu bg-base-100 w-32 mt-2 z-1 shadow;
}
.dropdown-content a {
    text-decoration: none;
}

button {
    @apply gap-2;
}

.hover-scale {
    transition: transform 0.2s ease-out;
    cursor: pointer;
}
.hover-scale:hover {
    transform: scale(1.02);
}

.hover-bg {
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}
.hover-bg:hover {
    @apply bg-base-300;
}

.active-bg {
    @apply bg-base-300;
}

/* TODO Trix file upload */
.trix-button-group--file-tools { display: none !important; }
